[color]
	ui = true
[user]
	name = Taras Matsyk
	email = tamatsyk@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/tarasmatsyk/.gitignore_global
[commit]
	template = /Users/tarasmatsyk/.git-message.txt
